.user-profile-section{
    background-color: #f1f1f1;
    padding-top: 32px !important;
}

.user-profile-header{
    padding-block: 24px;
    margin-bottom: 24px;
    border-radius: 16px;
    display: flex !important;
    justify-content: space-between;
    padding: 32px;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);

    
    h2{
        color: var(--black);
        transition: 0.3s;
        cursor: pointer;
        
        &:hover{
            opacity: 0.7;
        }
    }
    
    a{
        color: var(--accent);
        font-weight: 500;
        text-decoration: underline;
        text-decoration-color: #fff;
        text-underline-offset: 4px;
        cursor: pointer;
        transition: 0.3s;
        
        &:hover{
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }
    
    .user-profile-logo{
        text-decoration: none !important;
    }
}

.user-profile-grid{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    background-color: #f1f1f1;
    max-width: 1120px;
    margin-inline: auto;
    flex-wrap: wrap;

    .user-profile-card{
        width: calc(33% - 16px);
        border-radius: 16px;
        padding: 24px;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
        cursor: pointer;
        transition: 0.4s;
        text-decoration: none;
        color: var(--black);

        &:hover{
            transform: translateY(-8px);
            opacity: 0.8;
        }

        @media(max-width: 768px){
            width: calc(50% - 8px)
        }
        @media(max-width: 560px){
            width: 100%;
        }

        .user-initials{
            background-color: var(--accent);
            font-size: 26px;
            font-weight: 600;
            color: var(--white);
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-bottom: 24px;
        }

        h3{
            margin-bottom: 8px;
        }

        .user-email, .user-phone{
            font-size: 14px;
        }

        .user-email{
            color: var(--accent);
            margin-bottom: 8px;
        }

        .user-phone{
            color: #555;
            margin-bottom: 8px;
        }
        
        .user-work{
            color: #555;
            margin-bottom: 16px;
            font-style: italic;
            font-size: 12px;
        }

        button{
            width: 100%;
            padding: 8px;
            border-radius: 8px;
            background-color: var(--accent);
            border: 1px solid var(--accent);
            font-weight: 500;
            color: var(--white);
            cursor: pointer;
            transition: 0.3s;
            text-decoration: none;

            &:hover{
                opacity: 0.7;
            }
        }
    }
}

.user-profile-panel{
    max-width: 1112px;
    margin-inline: auto;
    border-radius: 16px;
    padding: 32px;
    background-color: #fff;

    .user-details-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;

        @media(max-width: 560px){
            flex-direction: column-reverse;
            align-items: center;
            gap: 24px;
        }

        .back-btn{
            height: 44px;
            width: 100px;
            padding: 8px;
            border-radius: 8px;
            background-color: var(--dark-gray);
            border: 1px solid var(--dark-gray);
            font-weight: 500;
            color: var(--white);
            cursor: pointer;
            transition: 0.3s;
            text-decoration: none;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            @media(max-width: 560px){
                width: 100%;
                text-align: left;
                justify-content: flex-start;
                background-color: transparent;
                border: 1px solid transparent;
                color: var(--black);
                padding-top: 0;
            }

            &:hover{
                opacity: 0.7;
            }
        }
    }

    .user-contacts{
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        @media(max-width: 560px){
            margin-left: 0;
            align-items: center;
        }

        .user-contact{
            display: flex;
            width: 320px;
            font-size: 14px;

            @media(max-width: 560px){
                font-size: 12px;
                margin-inline: auto;
                width: 280px;
            }

            strong{
                width: 120px;

                @media(max-width: 560px){
                    width: 50%;
                }
            }
            a,span{
                @media(max-width: 560px){
                    width: 50%;
                }
            }
        }
    }

    .user-contact-details{
        display: flex;

        @media(max-width: 560px){
            flex-direction: column;
            align-items: center;
        }

        a{
            color: var(--black);
            text-decoration: underline;
            text-decoration-color: var(--white);
            text-underline-offset: 3px;
            transition: 0.4s;
            &:hover{
                color: var(--accent);
                text-decoration-color: var(--accent);
                text-underline-offset: 4px;
            }
        }
    }

    .user-initials{
        background-color: var(--accent);
        font-size: 44px;
        font-weight: 600;
        color: var(--white);
        width: 96px;
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 24px;
    }
}

.user-post-header{
    margin-bottom: 32px;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--light-gray);
}

.user-posts-container{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .user-post{
        padding: 16px;
        background-color: #f1f1f1;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(0,0,0,.2);

        h4,p{
            background-color: #f1f1f1;
        }
    }
}